<!DOCTYPE html>

<html>
 <head>
  <link href='/stylesheets/style.css' rel='stylesheet' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/javascripts/client/common.js"></script>
  <script src="/javascripts/client/constants.js"></script>
  <script src="/javascripts/client/enums.js"></script>
  <script src="/javascripts/client/MainPage.js"></script>
  <script src="/javascripts/client/validate.js"></script>
  <title><%= title %></title>
 </head>
 <body background="/images/veges.jpg" onload="InitPage();">
  <div class="header-section"> 
   <span class="filters" id="filtersContainer" style="display: inline; line-height: 30px; visibility: visible;">
    Cuisine: 
    <select id="cuisines" name="cuisines" onChange="ApplyFilter();" style="margin: 0px 10px 0px 5px;">
     <% Object.keys(cuisineTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, cuisineTypes); %>
    </select>
    Course: 
    <select id="categories" name="category" onChange="ApplyFilter();" style="margin: 0px 0px 0px 5px;">
     <% Object.keys(categoryTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, categoryTypes); %>
    </select>
    <input data-validation="v" id="searchTerm" maxlength="128" name="searchTerm" size="48" style="margin: 0px 0px 0px 30px;" type="text">
    <button id="SearchBtn" onclick="HandleSearchBtnClkd();" style="margin: 0px 10px 0px 0px;" type="button">Search</button>
    <span style="margin: 0px 20px 0px 0px;">Showing <span id="displayCnt">0</span> of <%- recipesCnt %></span>
   </span>   
   <span id="recipeTitleContainer" style="display: none; visibility: collapse; text-align: center;">
    <h2 id="recipeTitle">Placeholder</h2>
   </span>   
  </div>
  <div class="content-section" id="recipesListContainer">
   <%-filesList %>
  </div>  
  <div class="footer-section">
   <div id="editPageBtns" style="display: none; visibility: collapse;">
    <button id="SaveRecipeBtn"       onclick="SaveRecipe();"         style="margin: 0px 10px 0px 0px;" type="button">Save Recipe</button>
    <button id="ShowRecipesListBtn"  onclick="ApplyFilter();"                                          type="button">Return to Recipes List</button>   
   </div>  
   <div id="indexPageBtns" style="display: inline; visibility: visible;">
    <button id="AddNewRecipeBtn"     onclick="ShowAddRecipePopup();" style="margin: 0px 10px 0px 0px;" type="button">Add new recipe</button>
    <button id="DeleteAllRecipesBtn" onclick="DeleteAllRecipes();"                                     type="button">Delete all recipes</button>
   </div> 
   <div id="viewPageBtns" style="display: none; visibility: collapse;">
    <button id="EditRecipeBtn"       onclick="EditRecipe();"           style="margin: 0px 10px 0px 0px;" type="button">Edit Recipe</button>
    <button id="DeleteRecipeBtn"     onclick="DeleteRecipe();"         style="margin: 0px 10px 0px 0px;" type="button">Delete Recipe</button>
    <button id="PrintRecipeBtn"      onclick="RequestPrintableView();" style="margin: 0px 10px 0px 0px;" type="button">Print Ready Version</button>
    <button id="ShowRecipesListBtn"  onclick="ApplyFilter();"                                            type="button">Return to Recipes List</button>   
   </div>   
  </div>
  
  
  <!-- Conditionally displayed items for pop-ups, notifications, etc. -->
  
  <!-- Add Recipe Popup. -->
  <div class="popup" id="addRecipePopup" style="width: 30%;">
   <div class="heading">
    ADD RECIPE&nbsp;<img height="32px" onclick="HideAddRecipePopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
   </div>
   <br>
   <div class="centered">
    <div class="recipe-line">
     <span class="field-header">
      Name:
     </span>
     <span class="field-value">
      <input id="recipeName2Add" type="text">
     </span>
    </div>
    <br> 
    <div class="centered">
     <button onclick="AddRecipe();" type="button">OK</button>
    </div>  
   </div>
  </div>  
  
  <!-- Error Popup. -->
  <div class="popup" id="errorPopup" style="width: 25%;">
   <div class="heading">
    WARNING&nbsp;<img height="32px" id="epCloseImg" onclick="HideErrorPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
   </div>
   <br>
   <div class="request-div">
    <span id="errorMsg">Placeholder</span>    
   </div>
  </div>
  
  <!-- Recipe Exists Warning Popup. -->
  <div class="popup" id="recipeExistsWarningPopup" style="width: 35%;">
   <div class="heading">
    WARNING&nbsp;<img height="32px" onclick="HideRecipeExistsWarningPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
   </div>
   <br>
   <div class="request-div">
    A recipe with that name already exists. 
   </div>
  </div>
  
  <!-- Overlay to 'dim' content behind popups. -->
  <div class="no-overlay" id="overlayContainer"></div>
 </body>
</html>
