<!DOCTYPE html>

<html>
 <head>
  <link href='/stylesheets/style.css' rel='stylesheet' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/javascripts/client/common.js"></script>
  <script src="/javascripts/client/constants.js"></script>
  <script src="/javascripts/client/enums.js"></script>
  <script src="/javascripts/client/MainPage.js"></script>
  <script src="/javascripts/client/validate.js"></script>
  <title><%= title %></title>
 </head>
 <body background="/images/veges.jpg" onload="InitPage();">
  <div class="header-section"> 
   <span class="filters" id="filtersContainer">
    <img height="20px" onclick="ShowSettingsPopup();" src="/images/Buttons/SettingsBtn_48X48.jpg" style="margin: 0px 10px 0px 0px;" title="Access Settings" width="20px">
    Cuisine: 
    <select id="cuisines" name="cuisines" onChange="ApplyFilter();" style="margin: 0px 10px 0px 5px;">
     <% Object.keys(cuisineTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, cuisineTypes); %>
    </select>
    Course: 
    <select id="categories" name="category" onChange="ApplyFilter();" style="margin: 0px 0px 0px 5px;">
     <% Object.keys(categoryTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, categoryTypes); %>
    </select>
    <input data-validation="v" id="searchTerm" maxlength="128" name="searchTerm" size="48" style="margin: 0px 0px 0px 30px;" type="text">
    <img height="20px" onclick="HandleSearchBtnClkd();" src="/images/Buttons/SearchBtn_48X48.jpg" style="margin: 0px 10px 0px 5px;" title="Search Recipes" width="20px">
    <span style="margin: 0px 20px 0px 0px;">Showing <span id="displayCnt">0</span> of <%- recipesCnt %></span>
   </span>   
   <span id="recipeTitleContainer" style="display: none; visibility: collapse; text-align: center;">
    <h2 id="recipeTitle">Placeholder</h2>
   </span>   
  </div>
  <div class="content-section" id="recipesListContainer">
   <%-filesList %>
  </div>  
  <div class="footer-section">
   <div id="editPageBtns" style="display: none; visibility: collapse;">
    <img height="48px" id="SaveRecipesListBtn" onclick="SaveRecipe();"  src="/images/Buttons/SaveBtn_48X48.png"   style="margin: 0px 10px 0px 0px;" title="Save Recipe"            width="48px"> 
    <img height="48px" id="ShowRecipesListBtn" onclick="ApplyFilter();" src="/images/Buttons/ReturnBtn_48X48.png" style="margin: 0px 10px 0px 0px;" title="Return to Recipes List" width="48px">     
   </div>  
   <div id="indexPageBtns" style="display: inline; visibility: visible;">
    <img height="48px" id="AddNewRecipeBtn"    onclick="ShowAddRecipePopup();" src="/images/Buttons/AddBtn_60X48.jpg"    style="margin: 0px 10px 0px 0px;" title="Add New Recipe"     width="48px">
    <img height="48px" id="DeleteAllRecipeBtn" onclick="DeleteAllRecipes();"   src="/images/Buttons/DelAllBtn_48X48.png"                                   title="Delete All Recipes" width="48px">    
   </div> 
   <div id="viewPageBtns" style="display: none; visibility: collapse;">
    <img height="48px" id="EditRecipeBtn"      onclick="EditRecipe();"           src="/images/Buttons/EditBtn_48X48_White.png"   style="margin: 0px 10px 0px 0px;" title="Edit Recipe"             width="48px">
    <img height="48px" id="DeleteRecipeBtn"    onclick="DeleteRecipe();"         src="/images/Buttons/DeleteBtn_48X48_White.png" style="margin: 0px 10px 0px 0px;" title="Delete Recipe"           width="48px">    
    <img height="48px" id="PrintRecipeBtn"     onclick="RequestPrintableView();" src="/images/Buttons/PrintBtn_48X48.png"        style="margin: 0px 10px 0px 0px;" title="Print Recipe"            width="48px">      
    <img height="48px" id="ShowRecipesListBtn" onclick="ApplyFilter();"          src="/images/Buttons/ReturnBtn_48X48.png"       style="margin: 0px 10px 0px 0px;" title="Return to Recipes List"  width="48px">    
   </div>   
  </div>
  
  
  <!-- Conditionally displayed items for pop-ups, notifications, etc. -->
  
  <!-- Add Recipe Popup. -->
  <div class="popup" id="addRecipePopup" style="width: 30%;">
   <div class="heading">
    ADD RECIPE&nbsp;<img height="32px" onclick="HideAddRecipePopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
   </div>
   <br>
   <div class="centered">
    <div class="recipe-line">
     <span class="field-header">
      Name:
     </span>
     <span class="field-value">
      <input id="recipeName2Add" type="text">
     </span>
    </div>
    <br> 
    <div class="centered">
     <button onclick="AddRecipe();" type="button">OK</button>
    </div>  
   </div>
  </div>  
  
  <!-- Error Popup. -->
  <div class="popup" id="errorPopup" style="width: 25%;">
   <div class="heading">
    WARNING&nbsp;<img height="32px" id="epCloseImg" onclick="HideErrorPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
   </div>
   <br>
   <div class="request-div">
    <span id="errorMsg">Placeholder</span>    
   </div>
  </div>
  
  <!-- Recipe Exists Warning Popup. -->
  <div class="popup" id="recipeExistsWarningPopup" style="width: 35%;">
   <div class="heading">
    WARNING&nbsp;<img height="32px" onclick="HideRecipeExistsWarningPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
   </div>
   <br>
   <div class="request-div">
    A recipe with that name already exists. 
   </div>
  </div>
  
    <!-- Settings Popup. -->
  <div class="popup" id="SettingsPopup" style="width: 50%;">
   <div class="heading">
    SETTINGS&nbsp;<img height="32px" onclick="HideSettingsPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
   </div>
   <br>
   <div class="centered">
    <img height="32px" onclick="ShowImportRecipesPopup();" src="/images/Buttons/ImportBtn_48X48.png" title="Import Recipes" width="32px">
    &nbsp;
    <img height="32px" onclick="ShowExportRecipesPopup();" src="/images/Buttons/ExportBtn_60X48.png" title="Export Recipes" width="32px">    
   </div>
  </div>
  
  <!-- Overlay to 'dim' content behind popups. -->
  <div class="no-overlay" id="overlayContainer"></div>
 </body>
</html>
