<form action="AddNewRecipe" id="newRecipeForm" method="post" name="newRecipeForm"> 
 <input id="recipeName" name="recipeName" type="hidden" value="">
  
 <div class="recipe-line">
  <span class="field-header">
   Cuisine:
  </span>
  <span class="field-value">
    <select id="cuisines" name="cuisine">
     <% Object.keys(cuisineTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, cuisineTypes); %>
    </select>
  </span>
 </div>
 
 <div class="recipe-line">
  <span class="field-header">
   Course:
  </span>
  <span class="field-value">
    <select id="categories" name="category">
     <% Object.keys(categoryTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, categoryTypes); %>
    </select>
  </span>
 </div>
 
 <div class="recipe-line">
  <span class="field-header">
   Yield:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="yield" max="999" min= "1" name="yield" type="number">
   <select id="yieldUnit" name="yieldUnit">
    <% Object.keys(unitTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, unitTypes); %>
   </select>
  </span>
 </div> 
 
  <div class="recipe-line">
  <span class="field-header">
   Serving Size:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="servings" max="999" min= "1" name="servings" type="number">
   <select id="servingsUnit" name="servingsUnit">
    <% Object.keys(servingSizeTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, servingSizeTypes); %>
   </select>
  </span>
 </div> 
 
 <div class="recipe-line">
  <span class="field-header">
   Prep Time:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="prepTime" max="999" min= "0" name="prepTime" type="number"> minutes
  </span>
 </div>  
 
 <div class="recipe-line">
  <span class="field-header">
   Cook Time:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="cookTime" max="999" min= "0" name="cookTime" type="number"> minutes
  </span>
 </div> 
 
  <div class="recipe-line">
  <span class="field-header">
   Calories:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="calories" max="999" min= "0" name="calories" type="number">
  </span>
 </div>
 
 <div class="recipe-line">
  <span class="field-header">
   Fat:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="fat" max="999" min= "0" name="fat" type="number"> g
  </span>
 </div>
 
 <div class="recipe-line">
  <span class="field-header">
   Carbs:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="carbs" max="999" min= "0" name="carbs" type="number"> g
  </span>
 </div>
 
 <div class="recipe-line">
  <span class="field-header">
   Protein:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="protein" max="999" min= "0" name="protein" type="number"> g
  </span>
 </div> 
 
 <div class="recipe-line">
  <span class="field-header">
   Sugar:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="sugar" max="999" min= "0" name="sugar" type="number"> g
  </span>
 </div>
 
  <div class="recipe-line">
  <span class="field-header">
   Sodium:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="sodium" max="999" min= "0" name="sodium" type="number"> mg
  </span>
 </div>
 
 <div class="recipe-line">
  <span class="field-header">
   Fiber:
  </span>
  <span class="field-value">
   <input data-validation="vNumeric" id="fiber" max="999" min= "0" name="fiber" type="number"> g
  </span>
 </div> 
 
 <div class="recipe-line">
  <span class="field-header">
   Description:
  </span>
  <span class="field-value">
   <textarea cols="64" data-validation="vAlNum" id="description" maxlength="4096" name="description" required="required" rows="4"></textarea>
  </span>
 </div> 

 <div class="recipe-line">
  <span class="field-header">
   Image:
  </span>
  <span class="field-value">
   <input id="mainImageName" name="mainImageName" readonly="readonly" type="hidden" value="">
   <img height="80px" id="mainImage" src="" style="display: none; margin: 10px 0px 10px 0px; visibility: collapse;" width="80px">
   <button onclick='ShowFileUploadPopup("mainImage", "");' type="button">Upload</button>
  </span>
 </div>  
 
 <br>
 
 <div class="table-container">
  <div class="heading">
   PREREQUISITES
  </div>
  <br>
  <div class="centered">
   <table align="center" class="scrolling-table" id="prerequisitesTable" width="335px">
    <thead>
     <tr>
      <th width="200px">
       Prerequisite
      </th>   
      <th colspan="2" width="90px">
       &nbsp;
      </th> 
     </tr>
    </thead>
    <tbody>
     <!-- Placeholder. This will be filled in dynamically via user actions. -->
    </tbody>
   </table>
  </div>
  <br>
  <div class="centered">
   <button onclick="HandleAddPrerequisiteBtnClkd();" type="button">Add Prerequisite</button>
   <button id="delAllPrerequisitesBtn" onclick="HandleDelAllPrerequisitesBtnClkd();" style="display: none; visibility: collapse;" type="button">Delete All Prerequisites</button>  
  </div> 
 </div> 
 
  <br>
 
 <div class="table-container">
  <div class="heading">
   INGREDIENTS
  </div>
  <br>
  <div class="centered">
  <table align="center" class="scrolling-table" id="ingredientsTable" width="940px">
   <thead>
    <tr>
     <th width="200px">
      Ingredient
     </th>
     <th width="70px">
      Quantity
     </th>
     <th width="80px">
      Measure
     </th>    
     <th width="130px">
      Preparation
     </th>  
     <th width="200px">
      Notes
     </th>   
     <th colspan="2" width="120px">
      &nbsp;
     </th>      
    </tr>
   </thead>
   <tbody>
    <!-- Placeholder. This will be filled in dynamically via user actions. -->
   </tbody>
  </table>
  </div>
  <br>
  <div class="centered">
   <button onclick="HandleAddIngredientBtnClkd();" type="button">Add Ingredient</button>
   <button onclick="HandleAddIngredientHeadingBtnClkd();" type="button">Add Heading</button>   
   <button id="delAllIngredientsBtn" onclick="HandleDelAllIngredientsBtnClkd();" style="display: none; visibility: collapse;" type="button">Delete All Ingredients</button>  
  </div>
 </div>  
 
 <br>
 
 <div class="table-container">
  <div class="heading">
   METHOD
  </div>
  <br> 
  <div class="centered">
   <table align="center" class="scrolling-table" id="stepsTable" width="720px">
    <thead>
     <tr>
      <th width="500px">
       Step
      </th>
      <th width="150px">
       Image
      </th>   
     </tr>
    </thead>
    <tbody>
     <!-- Placeholder. This will be filled in dynamically via user actions. -->    
    </tbody>
   </table>
  </div> 
  <br>
  <div class="centered">
   <button onclick="HandleAddStepBtnClkd();" type="button">Add Step</button>
   <button onclick="HandleAddStepHeadingBtnClkd();" type="button">Add Heading</button>     
   <button id="delAllStepsBtn" onclick="HandleDelAllStepsBtnClkd();" style="display: none; visibility: collapse;" type="button">Delete All Steps</button>  
  </div> 
 </div> 
 
 <br>
 
 <div class="table-container">
  <div class="heading">
   VARIATIONS / SUBSTITUTIONS
  </div>
  <br>
  <div class="centered">
   <table align="center" class="scrolling-table" id="variationsTable" width="335px">
    <thead>
     <tr>
      <th width="200px">
       Variation
      </th>   
      <th colspan="2" width="90px">
       &nbsp;
      </th> 
     </tr>
    </thead>
    <tbody>
     <!-- Placeholder. This will be filled in dynamically via user actions. -->
    </tbody>
   </table>
  </div>
  <br>
  <div class="centered">
   <button onclick="HandleAddVariationBtnClkd();" type="button">Add Variation</button>
   <button id="delAllVariationsBtn" onclick="HandleDelAllVariationsBtnClkd();" style="display: none; visibility: collapse;" type="button">Delete All Variations</button>  
  </div> 
 </div>  
</form>


<!-- Conditionally displayed items for pop-ups, notifications, etc. -->

<!-- Add Ingredient Popup. -->
<div class="popup" id="addIngredientPopup">
 <form>
  <div class="heading">
   ADD INGREDIENT&nbsp;<img height="32px" onclick="HideAddIngredientPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="addIngredientForm">
   <div class="recipe-line">
    <span class="field-header">
     Ingredient:
    </span>
    <span class="field-value">
     <input data-validation="vAlNum" id="ingredient2Add" name="ingredient2Add" type="text">
    </span>
   </div>
   <div class="recipe-line">
    <span class="field-header">
     Quantity:
    </span>
    <span class="field-value">
     <input data-validation="vNumeric" id="quantity2Add" max="999" min="0" name="quantity2Add" type="number">
    </span>
   </div>  
   <div class="recipe-line">
    <span class="field-header">
     Measure:
    </span>
    <span class="field-value">
     <select id="measure2Add" name="measure2Add">
      <% Object.keys(unitTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, unitTypes); %>
     </select>
    </span>
   </div>  
   <div class="recipe-line">
    <span class="field-header">
     Preparation:
    </span>
    <span class="field-value">
     <select id="preparation2Add" name="preparation2Add">
      <% Object.keys(preparationTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, preparationTypes); %>
     </select>
    </span>
   </div>   
   <div class="recipe-line">
    <span class="field-header">
     Notes:
    </span>
    <span class="field-value">
     <input data-validation="vAlNum" id="notes2Add" name="notes2Add" type="text">
    </span>
   </div>
  </div>
  <br>
  <div class="centered">
   <button onclick="AddIngredient();" type="button">Save</button>
  </div>
 </form>
</div>

<!-- Add Ingredient Heading Popup. -->
<div class="popup" id="addIngredientHeadingPopup">
 <form>
  <div class="heading">
   ADD INGREDIENT HEADING&nbsp;<img height="32px" onclick="HideAddIngredientHeadingPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="addIngredientHeadingForm">
   <div class="recipe-line">
    <span class="field-header">
     Heading Text:
    </span>
    <span class="field-value">
     <input data-validation="vAlNum" id="heading2Add" name="heading2Add" type="text">
    </span>
   </div>   
   <br>
   <div class="centered">
    <button onclick="AddIngredientHeading();" type="button">Save</button>
   </div>
  </div> 
 </form>
</div>

<!-- Add Prerequisite Popup. -->
<div class="popup" id="addPrerequisitePopup">
 <form>
  <input id=ingredientType" name="ingredientType" type="hidden" value="INGREDIENT">
  <div class="heading">
   ADD PREREQUISITE&nbsp;<img height="32px" onclick="HideAddPrerequisitePopup()" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="addPrerequisiteForm">
   <div class="recipe-line">
    <span class="field-header">
     Prerequisite:
    </span>
    <span class="field-value">
     <textarea cols="40" data-validation="vAlNum" id="prerequisite2Add" maxlength="4096" name="prerequisite2Add" required="required" rows="4" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;">
     </textarea>     
    </span>
   </div> 
   <br> 
   <div class="centered">
    <button onclick="AddPrerequisite();" type="button">Save</button>
   </div>
  </div>
 </form>
</div>

<!-- Add Step Popup. -->
<div class="popup" id="addStepPopup">
 <form>
  <div class="heading">
   ADD STEP&nbsp;<img height="32px" onclick="HideAddStepPopup()" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="addStepForm">
   <div class="recipe-line">
    <span class="field-header">
     Step:
    </span>
    <span class="field-value">
     <textarea cols="40" data-validation="vAlNum" id="step2Add" maxlength="4096" name="step2Add" required="required" rows="4" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;">
     </textarea>     
    </span>
   </div> 
   <br>
   <div class="recipe-line">
    <span class="field-header">
     Image (optional):
    </span>
    <span class="field-value">
     <div style="display: inline-block;">
      <button onclick="ShowFileUploadPopup('stepImage', 'addStepPopup');" type="button">Upload</button>
      <img height="80px" id="stepAddImage" src="" style="display: none; margin: 10px 0px 0px 0px; visibility: collapse;" width="80px">
     </div>
    </span>
   </div>    
   <br> 
   <div class="centered">
    <button onclick="AddStep();" type="button">Save</button>
   </div>
  </div>
 </form>
</div>

<!-- Add Step Heading Popup. -->
<div class="popup" id="addStepHeadingPopup">
 <form>
  <div class="heading">
   ADD STEP HEADING&nbsp;<img height="32px" onclick="HideAddStepHeadingPopup()" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="addStepHeadingForm">
   <div class="recipe-line">
    <span class="field-header">
     Heading:
    </span>
    <span class="field-value">
     <textarea cols="40" data-validation="vAlNum" id="stepHeading2Add" maxlength="256" name="stepHeading2Add" required="required" rows="1" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;">
     </textarea>     
    </span>
   </div>    
   <br> 
   <div class="centered">
    <button onclick="AddStepHeading();" type="button">Save</button>
   </div>
  </div>
 </form>
</div>

<!-- Add Variation Popup. -->
<div class="popup" id="addVariationPopup">
 <form >
  <div class="heading">
   ADD VARIATION&nbsp;<img height="32px" onclick="HideAddVariationPopup()" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="addVariationForm">
   <div class="recipe-line">
    <span class="field-header">
     Variation:
    </span>
    <span class="field-value">
     <textarea cols="40" data-validation="vAlNum" id="variation2Add" maxlength="4096" name="variation2Add" required="required" rows="4" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;">
     </textarea>     
    </span>
   </div> 
   <br> 
   <div class="centered">
    <button onclick="AddVariation();" type="button">Save</button>
   </div>
  </div>
 </form>
</div>

<!-- Edit Ingredient Popup. -->
<div class="popup" id="editIngredientPopup">
 <form >
  <input id="ingredientAction" type="hidden" value="">
  <input id="ingredientRowId"  type="hidden" value="">
  <div class="heading">
   EDIT INGREDIENT&nbsp;<img height="32px" onclick="HideEditIngredientPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="editIngredientForm">
   <div class="recipe-line">
    <span class="field-header">
     Ingredient:
    </span>
    <span class="field-value">
     <input id="ingredient2Edit" name="ingredient2Edit" type="text">
    </span>
   </div>
   <div class="recipe-line">
    <span class="field-header">
     Quantity:
    </span>
    <span class="field-value">
     <input data-validation="vNumeric" id="quantity2Edit" max="999" min="1" name="quantity2Add" type="number">
    </span>
   </div>  
   <div class="recipe-line">
    <span class="field-header">
     Measure:
    </span>
    <span class="field-value">
     <select id="measure2Edit" name="measure2Edit">
      <% Object.keys(unitTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, unitTypes); %>
     </select>
    </span>
   </div>  
   <div class="recipe-line">
    <span class="field-header">
     Preparation:
    </span>
    <span class="field-value">
     <select id="preparation2Edit" name="preparation2Edit">
      <% Object.keys(preparationTypes).forEach(function(key, index) { %><option value="<%=key %>"><%=this[key]%></option><% }, preparationTypes); %>
     </select>
    </span>
   </div>   
   <div class="recipe-line">
    <span class="field-header">
     Notes:
    </span>
    <span class="field-value">
     <input id="notes2Edit" name="notes2Edit" type="text">
    </span>
   </div>
   <br>
   <div class="centered">
    <button onclick="SaveIngredient();" type="button">Save</button>
   </div>
  </div>
 </form>
</div>

<!-- Edit Ingredient Heading Popup. -->
<div class="popup" id="editIngredientHeadingPopup">
 <form>
  <input id="headingRowId"  type="hidden" value="">
  <input id="ingredientAction" type="hidden" value="">
  <div class="heading">
   EDIT INGREDIENT HEADING&nbsp;<img height="32px" onclick="HideEditIngredientHeadingPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="editIngredientHeadingForm">
   <div class="recipe-line">
    <span class="field-header">
     Heading:
    </span>
    <span class="field-value">
     <input id="heading2Edit" name="heading2Edit" type="text">
    </span>
   </div>
   <br>
   <div class="centered">
    <button onclick="SaveIngredientHeading();" type="button">Save</button>
   </div>
  </div>
 </form>
</div>

<!-- Edit Prerequisite Popup. -->
<div class="popup" id="editPrerequisitePopup">
 <form >
  <input id="prerequisiteAction" type="hidden" value="">
  <input id="prerequisiteRowId"  type="hidden" value="">
  <div class="heading">
   EDIT PREREQUISITE&nbsp;<img height="32px" onclick="HideEditPrerequisitePopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="editPrerequisiteForm">
   <div class="recipe-line">
    <span class="field-header">
     Prerequisite:
    </span>
    <span class="field-value">
     <input id="prerequisite2Edit" required="required" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;" type="textarea">
    </span>
   </div> 
  </div>
  <br> 
  <div class="centered">
   <button onclick="SavePrerequisite();" type="button">Save</button>
  </div>  
 </form>
</div>

<!-- Edit Step Popup. -->
<div class="popup" id="editStepPopup">
 <form >
  <input id="stepAction" type="hidden" value="">
  <input id="stepRowId"  type="hidden" value="">
  <div class="heading">
   EDIT STEP&nbsp;<img height="32px" onclick="HideEditStepPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="editStepForm">
   <div class="recipe-line">
    <span class="field-header">
     Step:
    </span>
    <span class="field-value">
     <input id="step2Edit" required="required" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;" type="textarea">
    </span>
   </div> 
   <br>
   <div class="recipe-line">
    <span class="field-header">
     Image (optional):
    </span>
    <span class="field-value">
     <div style="display: inline-block;">
      <!-- Buttons / images conditionally displayed. -->
      <button id="addImgBtn" onclick="ShowFileUploadPopup('stepImage', 'editStepPopup');" type="button">Upload</button>
      <button id="delImgBtn" onclick="DeleteStepImage();" type="button">Delete</button>
      <img height="80px" id="image2Edit" src="" style="display: none; margin: 10px 0px 0px 0px; visibility: collapse;" width="80px">
     </div>
    </span>
   </div>    
  </div>
  <br> 
  <div class="centered">
   <button onclick="SaveStep();" type="button">Save</button>
  </div>  
 </form>
</div>

<!-- Edit Step Heading Popup. -->
<div class="popup" id="editStepHeadingPopup">
 <form >
  <input id="stepAction"       type="hidden" value="">
  <input id="stepHeadingRowId" type="hidden" value="">
  <div class="heading">
   EDIT STEP HEADING&nbsp;<img height="32px" onclick="HideEditStepHeadingPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="editStepForm">
   <div class="recipe-line">
    <span class="field-header">
     Heading:
    </span>
    <span class="field-value">
     <input id="stepHeading2Edit" required="required" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;" type="textarea">
    </span>
   </div> 
   <br>   
  </div>
  <br> 
  <div class="centered">
   <button onclick="SaveStepHeading();" type="button">Save</button>
  </div>  
 </form>
</div>

<!-- Edit Variation Popup. -->
<div class="popup" id="editVariationPopup">
 <form >
  <input id="variationAction" type="hidden" value="">
  <input id="variationRowId"  type="hidden" value="">
  <div class="heading">
   EDIT VARIATION&nbsp;<img height="32px" onclick="HideEditVariationPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
  </div>
  <br>
  <div class="request-div" id="editVariationForm">
   <div class="recipe-line">
    <span class="field-header">
     Variation:
    </span>
    <span class="field-value">
     <input id="variation2Edit" required="required" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;" type="textarea">
    </span>
   </div> 
  </div>
  <br> 
  <div class="centered">
   <button onclick="SaveVariation();" type="button">Save</button>
  </div>  
 </form>
</div>

<!-- File Uploader Popup. -->
<div class="popup" id="fileUploadPopup" style="width: 30%;">
 <div class="heading">
  UPLOAD IMAGE&nbsp;<img height="32px" id="fupCloseBtn" onclick="HideFileUploadPopup();" src="/images/Buttons/CloseIcon_512X512.png" width="32px">
 </div>
 <br>
 <div class="centered">
  <form action="/uploadImage" enctype="multipart/form-data" method="post">
   <input id="imageUse" type="hidden" value="">
   <input id="puInvoker" type="hidden" value="">
   <div class="request-div" id="fileUploadForm">
    <input id="image2Upload" required="required" style="color: black; margin: 0px 0px 0px 3px; padding: 0px 0px 5px 0px;" type="file">
    <button onclick="SubmitFileForUpload(document.getElementById('imageUse').value);" type="button">Upload</button>
   </div>
  </form>
  <div class="notifier" id="response">File Uploaded</div>
 </div>
</div>
