<!DOCTYPE html>

<html>
 <head>
  <link href='/stylesheets/style.css' rel='stylesheet' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/javascripts/client/common.js"></script>
  <script src="/javascripts/client/constants.js"></script>
  <script src="/javascripts/client/enums.js"></script>
  <script src="/javascripts/client/MainPage.js"></script>
  <title><%=recipeData.Recipe.Title[0].$.name %></title>
 </head>
 
 <body>
  <div class="centered">
   <h2><%=recipeData.Recipe.Title[0].$.name %></h2>
  </div>

  <div class="centered">
   <table class="plain-table">
    <tr>
     <th>
      CUISINE
     </th>
     <th>
      COURSE
     </th>    
     <th colspan="7">
      NUTRITION, per serving (<%= recipeData.Recipe.Nutrition[0].$.servings %> <% var i = recipeData.Recipe.Nutrition[0].$.servingsUnit; %> <%= enumUtils.GetDescFromServingSizeType(i) %>)
     </th>      
     <th colspan="1">
      YIELD
     </th> 
     <th colspan="3">
      TIMES
     </th>     
    </tr>     
    <tr>
     <td>
      <% var i = recipeData.Recipe.Title[0].$.cuisine; %> <%= enumUtils.GetDescFromCuisineType(i) %>
     </td>    
     <td>
      <% var i = recipeData.Recipe.Title[0].$.category; %> <%= enumUtils.GetDescFromCategoryType(i) %>
     </td>
     <td>
      Calories: <%= recipeData.Recipe.Nutrition[0].$.calories %> 
     </td>
     <td>
      Fat: <%= recipeData.Recipe.Nutrition[0].$.fat %> g 
     </td>
     <td>
      Carbs: <%= recipeData.Recipe.Nutrition[0].$.carbs %> g
     </td>
     <td>
      Protein: <%= recipeData.Recipe.Nutrition[0].$.protein %> g
     </td>     
     <td>
      Sugar: <%= recipeData.Recipe.Nutrition[0].$.sugar %> g 
     </td>
     <td>
      Sodium: <%= recipeData.Recipe.Nutrition[0].$.sodium %> g 
     </td>      
     <td>
      Fiber: <%= recipeData.Recipe.Nutrition[0].$.fiber %> g
     </td>
     <td>
      <%= recipeData.Recipe.Title[0].Yield[0].$.amount * scaling%> <% var i = recipeData.Recipe.Title[0].Yield[0].$.units; %> <%= enumUtils.GetDescFromUnitType(i) %>
     </td>
     <td>
      Prep Time: <%= commonUtils.FormatTime(parseInt(recipeData.Recipe.Title[0].Times[0].$.prep)); %>
     </td>
     <td>
      Cook Time: <%= commonUtils.FormatTime(parseInt(recipeData.Recipe.Title[0].Times[0].$.cook)); %>
     </td>
     <td>
      Total Time: <%= commonUtils.FormatTime(parseInt(recipeData.Recipe.Title[0].Times[0].$.prep) + parseInt(recipeData.Recipe.Title[0].Times[0].$.cook)); %>
     </td>
    </tr>
   </table>  
  </div> 

  <br>
  
  <div class="centered">
   <%
    var style = ("" == recipeData.Recipe.Title[0].$.image ? "display: none; margin: 10px 0px 10px 0px; visibility: collapse;" : "display: inline; margin: 10px 0px 10px 0px; visibility: visible;");
   %> 
   <img height="300px" onclick='ViewImage("/images/Recipes/<%=recipeData.Recipe.Title[0].$.image %>");' src="/images/Recipes/<%= recipeData.Recipe.Title[0].$.image %>" style="<%=style %>" width="300px">
  </div> 
  <br>
  
  <div style="margin-left: auto; margin-right: auto; width: 80%;">
   <div style="text-align: left;">
    <%- commonUtils.RenderNewlines(recipeData.Recipe.Description); %>
   </div> 
  </div> 
  
  <br>
  
  <%
   if (Object.getOwnPropertyNames(recipeData.Recipe.Prerequisites[0]).includes("Prerequisite")) {
  %>       
  <h3>PREREQUISITES</h3>
  <br>
   <div class="centered">
    <table align="center" class="simple-table" id="prerequisitesTable" width="500px">
     <thead>
      <tr>
       <th>
        Prerequisite
       </th>   
      </tr>
     </thead>
     <tbody>
      <% 
       var prerequisites = recipeData.Recipe.Prerequisites[0].Prerequisite; 
       
       for(ndx = 0; ndx < prerequisites.length; ++ndx) { 
      %> 
       <tr>
        <td style="max-width: 500px; min-width: 500px; word-wrap: break-word;">
         <%- commonUtils.RenderNewlines(prerequisites[ndx]) %>
        </td>
       </tr> 
      <%}%>
     </tbody>
    </table>
   </div>
  <%} %> 
  
   <br>
   
  <%
   if (Object.getOwnPropertyNames(recipeData.Recipe.Ingredients[0]).includes("Ingredient")) { 
  %>       
   <h3>INGREDIENTS</h3>
   <br>
   <div class="centered">
   <table align="center" class="simple-table" id="ingredientsTable" width="860px">
    <thead>
     <tr>
      <th width="250px">
       Ingredient
      </th>
      <th width="70px">
       Quantity
      </th>
      <th width="80px">
       Measure
      </th>    
      <th width="130px">
       Preparation
      </th>  
      <th width="250px">
       Notes
      </th>        
     </tr>
    </thead>
    <tbody>
     <% 
      var ingredients = recipeData.Recipe.Ingredients[0].Ingredient;
      
      for (ndx = 0; ndx < ingredients.length; ++ndx) { 
       var type = "INGREDIENT";
       
       if ("undefined" != typeof(ingredients[ndx].$)) {
        type = ingredients[ndx].$.type;
       }      
       
       if ("INGREDIENT" == type) {    
        var prep    = enumUtils.GetDescFromPrepType(ingredients[ndx].Prep[0]);
        var units   = enumUtils.GetDescFromUnitType(ingredients[ndx].Quantity[0].$.units);
        var quan    = Number.parseFloat(ingredients[ndx].Quantity[0]._) * scaling;       
        var quanStr = quan.toFixed(1);
        
        // Display decimal quantities as fractions:
        
        if ("0.3" == quanStr) {
         quanStr = "1/3";  // Pragmatic hack.
        } 
        else {
          if ("0.6" == quanStr) {
           quanStr = "2/3";  // Another pragmatic hack.
          } 
          else {
           var quanVal = new fractionUtils.Fraction(quan);
           
           quanStr = quanVal.toString();
          }
        }
     %> 
     <tr>
      <td style="max-width: 250px; min-width: 250px; word-wrap: break-word;"><%- commonUtils.RenderNewlines(ingredients[ndx].Name[0]); %> </td>
      <td style="text-align: right; max-width: 70px;  min-width: 70px;  word-wrap: break-word;"><%=quanStr %></td>
      <td style="max-width: 80px;  min-width: 80px;  word-wrap: break-word;"><%=units %></td>
      <td style="max-width: 130px; min-width: 130px; word-wrap: break-word;"><%=prep %> </td>
      <td style="max-width: 270px; min-width: 270px; word-wrap: break-word;"><%- commonUtils.RenderNewlines(ingredients[ndx].Notes[0]); %> </td>
     </tr> 
     <% } else { %> 
     <tr>
      <td colspan="5" style="font-weight: bold; max-width: 250px; min-width: 250px; text-align: center; word-wrap: break-word;"><%- commonUtils.RenderNewlines(ingredients[ndx].Heading[0]); %> </td>
     </tr>        
      <%}%>      
     <%}%>  
    </tbody>
   </table>
   </div> 
 <%} %> 
  
  <br>
  
  <%
   if (Object.getOwnPropertyNames(recipeData.Recipe.Method[0]).includes("Step")) {
  %>       
   <h3>METHOD</h3>
   <br> 
   <div class="centered">
    <table align="center" class="simple-table"  width="650px">
     <thead>
      <tr>
       <th width="500px">
        Step
       </th>
       <th width="100px">
        Image
       </th>   
      </tr>
     </thead>
     <tbody>
      <% 
       var steps = recipeData.Recipe.Method[0].Step; 
       
       for(ndx = 0; ndx < steps.length; ++ndx) {
        var type = "STEP";
        
        if ("undefined" != typeof(steps[ndx].$)) {
         if ("undefined" != typeof(steps[ndx].$.type)) {
          type = steps[ndx].$.type;
         }
        }     
               
        if (undefined != steps[ndx]._) {
         step = steps[ndx]._;
        } else {
         step = steps[ndx];
        }
         
        if ("STEP" == type) {                   
         var imgSrc = "";
         
         if ("undefined" != typeof(steps[ndx].$)) {
          if ("undefined" != typeof(steps[ndx].$.image)) {
           if ("" != steps[ndx].$.image) {
            imgSrc = steps[ndx].$.image; 
           }
          }
         }        
      %> 
       <tr>
        <td style="max-width: 500px; min-width: 500px; vertical-align:top; word-wrap: break-word;">
         <%- commonUtils.RenderNewlines(step); %>
        </td>
        <td style="text-align: center; max-width: 150px; min-width: 150px; word-wrap: break-word;">
         <%         
          if ("" != imgSrc) {
         %>
           <img height="100px" onclick='ViewImage("/images/Recipes/<%=imgSrc %>");' src="/images/Recipes/<%=imgSrc %>" width="100px">
         <%  
          } else {
         %>        
           &nbsp;
         <%  
          }
         %>
        </td>        
       </tr> 
      <% } else { %> 
       <tr>
        <td colspan="2" style="font-weight: bold; max-width: 250px; min-width: 250px; text-align: center; word-wrap: break-word;">
         <%- commonUtils.RenderNewlines(step); %> 
        </td>
       </tr>        
       <%}%>        
      <%}%>  
     </tbody>
    </table>
   </div> 
  <%} %> 
  
  <br>
  
  <%
   if (Object.getOwnPropertyNames(recipeData.Recipe.Variations[0]).includes("Variation")) {
  %>       
  <h3>VARIATIONS / SUBSTITUTIONS</h3>
  <br>
   <div class="centered">
    <table align="center" class="simple-table" id="variationsTable" width="500px">
     <thead>
      <tr>
       <th>
        Variation
       </th>   
      </tr>
     </thead>
     <tbody>
      <% 
       var variations = recipeData.Recipe.Variations[0].Variation; 
       for(ndx = 0; ndx < variations.length; ++ndx) { 
      %> 
       <tr>
        <td style="max-width: 500px; min-width: 500px; word-wrap: break-word;">
         <%- commonUtils.RenderNewlines(variations[ndx]) %>
        </td>
       </tr> 
      <%}%>
     </tbody>
    </table>
   </div>
  <%} %> 
  
  <br>
   
  <div class="centered" id="ButtonsSection">
   <% if ("N" != showButtons) { %>
   <img height="48px" 
        id="PrintRecipeBtn"    
        onclick="PrintRecipe();" 
        src="/images/Buttons/PrintBtn_48X48.png"    
        style="margin: 0px 10px 0px 0px;" 
        title="Print Recipe"     
        width="48px">
   <img height="48px" 
        id="SavePdfBtn"    
        onclick='SavePDF("<%=recipeData.Recipe.Title[0].$.name %>", <%-scaling%>);'
        src="/images/Buttons/PDFBtn_48X48.jpg"    
        style="margin: 0px 10px 0px 0px;" 
        title="Save as PDF file"     
        width="48px">
   <% } %>
  </div>  
  
 </body>
 
</html>