<form id="viewRecipeForm"> 
 <input id="recipeName"    type="hidden" value="<%=recipeData.Recipe.Title[0].$.name %>">
 <input id="originalYield" type="hidden" value="<%- recipeData.Recipe.Title[0].Yield[0].$.amount %>">
 
 <% stringUtils.TEMPCOUNT = 0; %>
 
 <div class="centered">
  <table class="plain-table">
   <tr>
    <th>
     CUISINE
    </th>
    <th>
     COURSE
    </th>  
    <th colspan="4">
     NUTRITION, per serving (<%= recipeData.Recipe.Nutrition[0].$.servings %> <% var i = recipeData.Recipe.Nutrition[0].$.servingsUnit; %> <%= enumUtils.GetDescFromServingSizeType(i) %>)
    </th>   
    <th colspan="1">
     YIELD
    </th> 
    <th colspan="1">
     TIMES
    </th>     
   </tr>     
   <tr>
    <td valign="top">
     <% var i = recipeData.Recipe.Title[0].$.cuisine; %> <%= enumUtils.GetDescFromCuisineType(i) %>
    </td>    
    <td valign="top">
     <% var i = recipeData.Recipe.Title[0].$.category; %> <%= enumUtils.GetDescFromCategoryType(i) %>
    </td>
    <td valign="top">
     Calories: <%= recipeData.Recipe.Nutrition[0].$.calories %> 
    </td>
    <td valign="top">
     <div style="width: 140px;">
      <span style="display: inline-block; text-align: right; width: 70%;">
       Fat:           
      </span> 
      <span style="display: inline-block; text-align: left; width: 30%;">
       <%= recipeData.Recipe.Nutrition[0].$.fat %> g 
      </span> 
     </div>
     <div style="width: 140px;">
      <span style="display: inline-block; text-align: right; width: 70%;">
       Saturated Fat: 
      </span> 
      <span style="display: inline-block; text-align: left; width: 30%;">
       <%= recipeData.Recipe.Nutrition[0].$.saturatedFat %> g 
      </span>
     </div>
     <div style="width: 140px;">
      <span style="display: inline-block; text-align: right; width: 70%;">
       Cholesterol:    
      </span>
      <span style="display: inline-block; text-align: left; width: 30%;">
       <%= recipeData.Recipe.Nutrition[0].$.cholesterol %> g
      </span>
     </div>
    </td>
    <td valign="top">
     <div style="width: 100px;">
      <span style="display: inline-block; text-align: right; width: 55%;">    
       Carbs: 
      </span> 
      <span style="display: inline-block; text-align: left; width: 45%;">
       <%= recipeData.Recipe.Nutrition[0].$.carbs %> g
      </span>
     </div>
     <div style="width: 100px;">
      <span style="display: inline-block; text-align: right; width: 55%;">       
       Protein: 
      </span>
      <span style="display: inline-block; text-align: left; width: 45%;"> 
       <%= recipeData.Recipe.Nutrition[0].$.protein %> g      
      </span>
     </div>
     <div style="width: 100px;">
      <span style="display: inline-block; text-align: right; width: 55%;">  
       Fiber: 
      </span>
      <span style="display: inline-block; text-align: left; width: 45%;">        
       <%= recipeData.Recipe.Nutrition[0].$.fiber %> g  
      </span>
     </div>       
    </td>    
    <td valign="top">
     <div style="width: 110px;">
      <span style="display: inline-block; text-align: right; width: 45%;">      
       Sugar: 
      </span> 
      <span style="display: inline-block; text-align: left; width: 55%;">     
       <%= recipeData.Recipe.Nutrition[0].$.sugar %> g 
      </span>
     </div>
     <div style="width: 110px;">
      <span style="display: inline-block; text-align: right; width: 45%;">      
       Sodium: 
      </span> 
      <span style="display: inline-block; text-align: left; width: 55%;">        
       <%= recipeData.Recipe.Nutrition[0].$.sodium %> mg 
      </span>
     </div>         
    </td>    
    <td id="yieldFld" valign="top">
     <%= recipeData.Recipe.Title[0].Yield[0].$.amount %> <% var i = recipeData.Recipe.Title[0].Yield[0].$.units; %> <%= enumUtils.GetDescFromUnitType(i) %>
    </td>
    <td valign="top">
     <div style="width: 170px;">
      <span style="display: inline-block; text-align: right; width: 45%;"> 
       Prep Time: 
      </span> 
      <span style="display: inline-block; text-align: left; width: 55%;">        
       <%= ("" == recipeData.Recipe.Title[0].Times[0].$.prep ? "" : commonUtils.FormatTime(parseInt(recipeData.Recipe.Title[0].Times[0].$.prep))); %>
      </span>
     </div>
     <div style="width: 170px;">
      <span style="display: inline-block; text-align: right; width: 45%;">      
       Cook Time: 
      </span> 
      <span style="display: inline-block; text-align: left; width: 55%;">     
       <%= ("" == recipeData.Recipe.Title[0].Times[0].$.cook ? "" : commonUtils.FormatTime(parseInt(recipeData.Recipe.Title[0].Times[0].$.cook))); %>
      </span>
     </div>
     <div style="width: 170px;">
      <span style="display: inline-block; text-align: right; width: 45%;">   
       Total Time: 
      </span> 
      <span style="display: inline-block; text-align: left; width: 55%;">       
       <%= 
        commonUtils.FormatTime(parseInt("" == recipeData.Recipe.Title[0].Times[0].$.prep ? 0 : recipeData.Recipe.Title[0].Times[0].$.prep) + parseInt("" == recipeData.Recipe.Title[0].Times[0].$.cook ? 0 : recipeData.Recipe.Title[0].Times[0].$.cook)); 
       %>
      </span>
     </div>       
    </td>
   </tr>
  </table>  
 </div>
 
 <br>
 
 <div class="centered">
  <%
   var style = ("" == recipeData.Recipe.Title[0].$.image ? "display: none; margin: 10px 0px 10px 0px; visibility: collapse;" : "display: inline; margin: 10px 0px 10px 0px; visibility: visible;");
  %> 
  <img height="300px" onclick='ViewImage("/images/Recipes/<%=recipeData.Recipe.Title[0].$.image %>");' src="/images/Recipes/<%= recipeData.Recipe.Title[0].$.image %>" style="<%=style %>" width="300px">
 </div> 
 <br>
 <div style="margin-left: auto; margin-right: auto; width: 80%;">
  <div style="text-align: left;">
   <%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(recipeData.Recipe.Description.toString())); %>
  </div>
 </div> 
 
 <br>
 
 <%
  if (Object.getOwnPropertyNames(recipeData.Recipe.Prerequisites[0]).includes("Prerequisite")) {
 %>       
 <div class="table-container" id="Prerequisites">
  <div class="heading">
   PREREQUISITES
  </div>
  <br>
  <div class="centered">
   <table align="center" class="scrolling-table" id="prerequisitesTable" width="500px">
    <thead>
     <tr>
      <th>
       Prerequisite
      </th>   
     </tr>
    </thead>
    <tbody>
     <% 
      var prerequisites = recipeData.Recipe.Prerequisites[0].Prerequisite; 
      for(ndx = 0; ndx < prerequisites.length; ++ndx) { 
     %> 
      <tr>
       <td style="max-width: 505px; min-width: 505px; word-wrap: break-word;">
        <%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(prerequisites[ndx])); %>
       </td>
      </tr> 
     <%}%>
    </tbody>
   </table>
  </div>
 </div> 
 <%} %> 
 
 <br>
  
 <%
  if (Object.getOwnPropertyNames(recipeData.Recipe.Ingredients[0]).includes("Ingredient")) { 
 %>       
 <div class="table-container">
  <div class="heading">
   INGREDIENTS
  </div>
  <br>
  <div class="centered">
   Scaling: <select id="scaling" name="scaling" onchange="UpdateIngredients();">
    <%  
     Object.keys(enumUtils.ScalingTypes).forEach(function(key, index) { 
    %>
     <% var s = (key == "NONE" ? "selected" : " "); %>
     <option <%=s%> value="<%=key %>"><%=this[key]%></option>
    <% 
     }, enumUtils.ScalingTypes); 
    %>   
   </select>    
   &nbsp;
   Units: <select id="units" name="units" onchange="UpdateIngredients();">
    <%  
     Object.keys(enumUtils.SystemOfUnitsTypes).forEach(function(key, index) { 
    %>
     <% var s = (key == "NONE" ? "selected" : " "); %>
     <option <%=s%> value="<%=key %>"><%=this[key]%></option>
    <% 
     }, enumUtils.SystemOfUnitsTypes); 
    %>   
   </select> 
  </div>
  <br>  
  <div class="centered">
  <table align="center" class="scrolling-table" id="ingredientsTable" width="880px">
   <thead>
    <tr>
     <th width="250px">
      Ingredient
     </th>
     <th width="70px">
      Quantity
     </th>
     <th width="80px">
      Measure
     </th>    
     <th width="130px">
      Preparation
     </th>  
     <th width="250px">
      Notes
     </th>        
    </tr>
   </thead>
   <tbody>
    <% 
     var ingredients = recipeData.Recipe.Ingredients[0].Ingredient;
     
     for (ndx = 0; ndx < ingredients.length; ++ndx) { 
      var type = "INGREDIENT";
      
      if ("undefined" != typeof(ingredients[ndx].$)) {
       type = ingredients[ndx].$.type;  
      }
     
      if ("INGREDIENT" == type) {
       var prep  = enumUtils.GetDescFromPrepType(ingredients[ndx].Prep[0]); 
       var units = enumUtils.GetDescFromUnitType(ingredients[ndx].Quantity[0].$.units);
     %>
      <tr>
       <input type="hidden" id="i.<%-ndx%>"  value="<%= ingredients[ndx].Quantity[0]._ %>">
       <input type="hidden" id="iu.<%-ndx%>" value="<%= units %>">
       <td style="max-width: 250px; min-width: 250px;                    word-wrap: break-word;"><%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(ingredients[ndx].Name[0])); %> </td>
       <td style="max-width: 70px;  min-width: 70px;  text-align: right; word-wrap: break-word;"><%= ingredients[ndx].Quantity[0]._ %> </td>
       <td style="max-width: 80px;  min-width: 80px;                     word-wrap: break-word;"><%= units %> </td>
       <td style="max-width: 130px; min-width: 130px;                    word-wrap: break-word;"><%= prep %> </td>
       <td style="max-width: 270px; min-width: 270px;                    word-wrap: break-word;"><%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(ingredients[ndx].Notes[0])); %> </td>
      </tr>        
     <%       
      } else {
     %> 
      <tr>
       <td colspan="5" style="font-weight: bold; max-width: 250px; min-width: 250px; text-align: center; word-wrap: break-word;"><%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(ingredients[ndx].Heading[0])); %> </td>
      </tr>        
      <%}%> 
    <%}%>  
   </tbody>
  </table>
  </div>
 </div>  
<%} %> 
 
 <br>
 
 <%
  if (Object.getOwnPropertyNames(recipeData.Recipe.Method[0]).includes("Step")) {
 %>       
 <div class="table-container">
  <div class="heading">
   METHOD
  </div>
  <br> 
  <div class="centered">
   <table align="center" class="scrolling-table" id="stepsTable" width="720px">
    <thead>
     <tr>
      <th width="500px">
       Step
      </th>
      <th width="150px">
       Image
      </th>   
     </tr>
    </thead>
    <tbody>
     <% 
      var steps = recipeData.Recipe.Method[0].Step; 

      for (ndx = 0; ndx < steps.length; ++ndx) {
       var type = "STEP";
      
       if ("undefined" != typeof(steps[ndx].$)) {
        if ("undefined" != typeof(steps[ndx].$.type)) {
         type = steps[ndx].$.type;
        }
       }
     
       var step = "";
       
       if (undefined != steps[ndx]._) {
        step = steps[ndx]._;
       } else {
        step = steps[ndx];
       }
        
       if ("STEP" == type) {
        var imgSrc = "";
        
        if ("undefined" != typeof(steps[ndx].$)) {
         if ("undefined" != typeof(steps[ndx].$.image)) {
          if ("" != steps[ndx].$.image) {
           imgSrc = steps[ndx].$.image; 
          }
         }
        }        
     %> 
      <tr>
       <td style="max-width: 500px; min-width: 500px; word-wrap: break-word;">
        <%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(step)); %>
       </td>
       <td style="text-align: center; max-width: 150px; min-width: 150px; word-wrap: break-word;">
        <%
         if ("" != imgSrc) {
        %>
          <img height="32px" onclick='ViewImage("/images/Recipes/<%=imgSrc %>");' src="/images/Recipes/<%=imgSrc %>" width="32px">
        <%  
         } else {
        %>        
          &nbsp;
        <%  
         }
        %>
       </td>
      </tr> 
     <% } else { %> 
      <tr>
       <td colspan="2" style="font-weight: bold; max-width: 250px; min-width: 250px; text-align: center; word-wrap: break-word;"><%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(step)); %> </td>
      </tr>        
     <%}%>      
     <%}%>  
    </tbody>
   </table>
  </div> 
 </div>
 <%} %> 
 
 <br>
 
 <%
  if (Object.getOwnPropertyNames(recipeData.Recipe.Variations[0]).includes("Variation")) {
 %>       
 <div class="table-container" id="Variations">
  <div class="heading">
   VARIATIONS / SUBSTITUTIONS
  </div>
  <br>
  <div class="centered">
   <table align="center" class="scrolling-table" id="variationsTable" width="500px">
    <thead>
     <tr>
      <th>
       Variation
      </th>   
     </tr>
    </thead>
    <tbody>
     <% 
      var variations = recipeData.Recipe.Variations[0].Variation; 
      for(ndx = 0; ndx < variations.length; ++ndx) { 
     %> 
      <tr>
       <td style="max-width: 500px; min-width: 500px; word-wrap: break-word;">
        <%- commonUtils.RenderNewlines(stringUtils.ConvertMarkup(variations[ndx])); %>
       </td>
      </tr> 
     <%}%>
    </tbody>
   </table>
  </div>
 </div> 
 <%} %>  
 
</form>